.blue { 
display:inline-block;
color:blue ;
}

.DimGray { 
display:inline-block;
color:#9C9A40;
}

.inright30 { 
display:inline-block;
text-align:right;
font-size: 80%;
}

.tabPanel--font-size{
  font-size: 140%;
}

.m-input-box--align-center{
display:inline-block;
text-align:center;
}

.m-input-box--font-size{
font-size:130%;
}